<%- include('../partials/header') %>

<h1>Add Comment</h1>

<form action="/<%= user._id %>/<%= post._id %>/add-comment" method="POST">
  <textarea name="content" cols="30" rows="5" placeholder="Type comment..."></textarea>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<% post.comments.forEach(comment => { %>
<ul class="container m-4">
  <li class="d-flex"><%= comment.user.firstName %> <%= comment.user.lastName %>: <%= comment.content %>
    <% if (user._id.equals(comment.user._id)) { %>
        <form action="/<%= user._id %>/<%= post._id %>/<%=comment._id%>/delete?_method=DELETE" method="POST">
            <button type="submit" class="btn" style="margin: -6px 0 0 5px; font-size: 16px; color: red;"><i class="far fa-trash-alt"></i></button>
        </form>
    <% } %>
    </li>
</ul>
<% }); %> <%- include('../partials/footer') %>
