<%- include('../partials/header') %>

<h1><%= title %></h1>

<div class="d-flex align-content-around flex-wrap">
<% users.posts.forEach(post => { %>

<div class="m-2">
    <img src="<%= post.img %>" style="width: 250px;">
    <div>
        <% post.comments.forEach(comment => { %>
            <p><span><%= comment.user.firstName %>: </span><%= comment.content %></p>
        <% }); %>
    </div>
</div>

<% }) %> 
</div>

<%- include('../partials/footer') %>
