<%- include('../partials/header') %>

<h1>Feed Page</h1>

<% posts.forEach(post => { %>
<div class="container">
  <div>
    <img src="<%= post.img %>" style="width: 400px" />
    <div>
      <span><%= post.caption %></span>
      <span><a href="/<%= post._id %>/comments">Comments</a></span>
    </div>
  </div>
</div>
<% }); %>

<div>
  <h1>New post:</h1>
  <form action="/<%= user._id %>/new-post">
    <button type="submit">Create New Post</button>
  </form>
</div>

<%- include('../partials/footer') %>
