<%- include('../partials/header') %>

<div class="container d-flex flex-column align-items-center">
  <% users.forEach(person => { %> <% person.posts.forEach(post => { %>
  <div id="post-container">
    <img src="<%= post.img %>" style="max-width: 500px; min-width: 500px" />
    <blockquote class="blockquote text-center">
      <p><%= post.caption %></p>
      <footer class="blockquote-footer"><cite><%= person.firstName %> <%= person.lastName %></cite></footer>
    </blockquote>
    <div class="text-center">
      <a href="/<%=post._id%>/comments">View comments</a>
    </div>
  </div>
  <% }); %> <% }); %>
</div>
<%- include('../partials/footer') %>
